/* Eric Meyer's Reset CSS v2.0 - http://cssreset.com */
/* line 2, ../sass/partials/_reset.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}

/* line 2, ../sass/partials/_reset.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 2, ../sass/partials/_reset.scss */
body {
  line-height: 1;
}

/* line 2, ../sass/partials/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 2, ../sass/partials/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 2, ../sass/partials/_reset.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}

/* line 2, ../sass/partials/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../sass/style.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100.0%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
}

/* line 56, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: "gill sans", sans-serif;
}

/* line 61, ../sass/style.scss */
p {
  font-family: "gill sans", sans-serif;
  font-weight: 100;
}

/* line 66, ../sass/style.scss */
a {
  color: black;
  text-decoration: none;
  font-family: "gill sans", sans-serif;
  margin-left: 5px;
  margin-right: 5px;
}
/* line 72, ../sass/style.scss */
a:visited {
  color: #666666;
}
/* line 75, ../sass/style.scss */
a:hover {
  color: orange;
}
/* line 78, ../sass/style.scss */
a:active {
  color: orange;
}
/* line 81, ../sass/style.scss */
a > img {
  position: relative;
  top: 2px;
}
@media (min-width: 40em) {
  /* line 66, ../sass/style.scss */
  a {
    margin-left: 15px;
    margin-right: 15px;
  }
}

/* line 92, ../sass/style.scss */
header {
  background: #cccccc;
  width: 100%;
  height: 120px;
  overflow: hidden;
  text-align: center;
  vertical-align: bottom;
  padding-top: 40px;
}
/* line 100, ../sass/style.scss */
header > h1 {
  display: block;
  font-size: 3em;
  font-family: "gill sans", sans-serif;
  font-weight: 100;
}
/* line 106, ../sass/style.scss */
header > h1 > span {
  color: orange;
}
/* line 110, ../sass/style.scss */
header > h1.left {
  margin-left: 20px;
}
/* line 113, ../sass/style.scss */
header > h1.right {
  font-size: 1.75em;
  margin-left: 20px;
  vertical-align: bottom;
}

/* line 120, ../sass/style.scss */
nav {
  width: 100%;
  background: #eee;
  padding: 10px 0px;
  font-size: 1em;
  -moz-box-shadow: 0px 0px 12px grey;
  -webkit-box-shadow: 0px 0px 12px grey;
  box-shadow: 0px 0px 12px grey;
}
/* line 128, ../sass/style.scss */
nav > ul {
  list-style: none;
  text-align: center;
}
/* line 131, ../sass/style.scss */
nav > ul > li {
  display: inline-table;
  vertical-align: middle;
}

/* line 138, ../sass/style.scss */
.main-content {
  width: 100.0%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  margin: 0 auto;
  overflow: auto;
}

/* line 144, ../sass/style.scss */
.main-content > ul > li {
  width: 78.94737%;
  float: left;
  margin-right: -100%;
  margin-left: 10.52632%;
  clear: none;
  clear: both;
  margin-top: 25px;
  height: 400px;
}
/* line 149, ../sass/style.scss */
.main-content > ul > li:last-of-type {
  margin-bottom: 115px;
}
@media (min-width: 40em) {
  /* line 144, ../sass/style.scss */
  .main-content > ul > li {
    width: 40%;
    float: left;
    margin-right: -100%;
    margin-left: 8.88889%;
    clear: none;
    clear: both;
    display: inline-block;
  }
  /* line 156, ../sass/style.scss */
  .main-content > ul > li:nth-child(even) {
    width: 40%;
    float: left;
    margin-right: -100%;
    margin-left: 51.11111%;
    clear: none;
  }
}
@media (min-width: 40em) and (min-width: 60em) {
  /* line 144, ../sass/style.scss */
  .main-content > ul > li {
    width: 26.08696%;
    float: left;
    margin-right: -100%;
    margin-left: 8.69565%;
    clear: none;
  }
  /* line 161, ../sass/style.scss */
  .main-content > ul > li:nth-child(2n+2) {
    width: 26.08696%;
    float: left;
    margin-right: -100%;
    margin-left: 36.95652%;
    clear: none;
  }
  /* line 164, ../sass/style.scss */
  .main-content > ul > li:nth-child(3n+3) {
    width: 26.08696%;
    float: left;
    margin-right: -100%;
    margin-left: 65.21739%;
    clear: none;
    clear: left;
    position: relative;
    top: -425px;
  }
}

/* line 174, ../sass/style.scss */
.panel {
  background: #eeeeee;
  border: 1px solid #666666;
  height: 100%;
  padding-bottom: 5px;
  -moz-box-shadow: 0 0 12px #cccccc;
  -webkit-box-shadow: 0 0 12px #cccccc;
  box-shadow: 0 0 12px #cccccc;
}
/* line 182, ../sass/style.scss */
.panel:hover {
  -moz-box-shadow: 0px 0px 12px orange;
  -webkit-box-shadow: 0px 0px 12px orange;
  box-shadow: 0px 0px 12px orange;
}
/* line 187, ../sass/style.scss */
.panel > img, .panel > ul {
  display: block;
  margin: 0 auto;
  vertical-align: top;
  text-align: center;
  margin-top: 5px;
}
/* line 195, ../sass/style.scss */
.panel > img {
  border: 1px solid #666666;
}
/* line 199, ../sass/style.scss */
.panel > h3 {
  width: 100%;
  padding: 10px 0;
  color: #666666;
  text-align: center;
  background: #cccccc;
  border-bottom: 1px solid #666666;
}
/* line 207, ../sass/style.scss */
.panel > h4 {
  color: #666666;
  text-align: center;
}

/* line 213, ../sass/style.scss */
footer {
  width: 100.0%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  background: #eeeeee;
  width: 100%;
  height: 90px;
  text-align: center;
  display: inline-table;
  vertical-align: middle;
  -moz-box-shadow: 0px 0px 12px grey;
  -webkit-box-shadow: 0px 0px 12px grey;
  box-shadow: 0px 0px 12px grey;
}
