//////////////////////////////
// Set legacy support
//
// If you need support for IE6 or IE7, you should install the Box Sizing polyfill.
// In your project's folder from the command line, type the following:
// compass install singularitygs/box-sizing
//////////////////////////////


//////////////////////////////
// Import Base
//////////////////////////////
@import "singularitygs";
@import "partials/base";

$grids: 1 4 4 1;
$grids: add-grid(6 at 30em);
$grids: add-grid(10 at 50em);

header {
  background: green;
}

.pageWrapper {
  @include background-grid;
  max-width: 1100px;
  height: 100%;
  display: block;
  margin: 0 auto;
}

body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}