//////////////////////////////
// Set legacy support
//
// If you need support for IE6 or IE7, you should install the Box Sizing polyfill.
// In your project's folder from the command line, type the following:
// compass install singularitygs/box-sizing
//////////////////////////////

//////////////////////////////
// Import Base
//////////////////////////////
//@import "singularitygs";
@import "singularitygs";

@import "partials/reset";
//$output: "float";
$output: 'isolation';
$grids: 1 4 4 1;
/*$grids: add-grid(6 at 500px);
$grids: add-grid(8 at 700px);
$grids: add-grid(10 at 900px);
$grids: add-grid(12 at 1100px);

$gutters: 1/3;
$gutters: add-gutter(.25 at 900px);

*/
header {
  background: green;
}

.pageWrapper {
  @include background-grid;
  height: 100%;
  margin: 0 auto;
}

.main-content {
  @include background-grid;
}

#first-item {
  @include grid-span(1, 2);
  background: blue;
}

#second-item {
  @include grid-span(1, 3);
  background: yellow;
}


body, html {
  height: 100%;
  padding: 0;
  margin: 0;
}