//////////////////////////////
// Set legacy support
//
// If you need support for IE6 or IE7, you should install the Box Sizing polyfill.
// In your project's folder from the command line, type the following:
// compass install singularitygs/box-sizing
//////////////////////////////

//////////////////////////////
// Import Base
//////////////////////////////

@import "singularitygs";
@import "partials/reset";
@import "partials/rays";

//$output: 'isolation';
$grids: 1 10 1;
$grids: add-grid(1 6 6 1 at 30em);
$grids: add-grid(1 4 4 4 1 at 60em);

$gutters: 1/3;
$panel-height: 200px;
$header-height: 90px;
$panel-top-margin: 15px;



html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100%;
}

header {
  background: #cccccc;
  width: 100%;
  height: $header-height;
  position: fixed;
  overflow: hidden;
  header h1 {
    position: absolute;
    z-index: 12;
  }
}



.main-content {
  @include background-grid;
  @include grid-span(3);
  height: inherit;
  margin: 0 auto;
  overflow: auto;
}
.main-content > ul {
  padding: $header-height 0px;
}


.main-content > ul > li {
  @include grid-span(1, 2);
  clear: both;
  background: red;
  margin-top: $panel-top-margin;
  height: $panel-height;
  @include breakpoint(30em) {
    @include grid-span(1, 2);
    background: blue;
    clear: both;
    display: inline-block;
    &:nth-child(even) {
      @include grid-span(1, 3);
      background: yellow;
    }
    @include breakpoint(60em) {
      @include grid-span(1, 2);
      //clear: left;
      &:nth-child(2n+2) {
        @include grid-span(1, 3);
        //clear: right;
        background: pink;
      }
      &:nth-child(3n+3) {
        @include grid-span(1, 4);
        clear: left;
        background: teal;
        position: relative;
        top: -($panel-height + $panel-top-margin);
      }
    }
  }
}

footer {
  background: orange;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

